---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
import Buttom from '../components/Buttom.astro';
import Login from '../components/ui/Login.astro';
---

<Layout title="EduQuest">
	<main class="bg-gray-200">
		<div class="h-screen w-screen flex justify-center items-center">
			<Login title="Bienvenido a Eduquest"/>
		</div>
	</main>
</Layout>