---

---

<div
  class="w-1/6 bg-blue-800 text-white rounded-br-lg shadow-lg h-screen px-4 py-20"
>
  <ul class="w-full">
    <li class="mb-4">
      <a
        href="/panel"
        class="text-white px-4 py-1 rounded-md hover:shadow-md hover:bg-blue-900 hover:text-orange-400"
        >Inicio</a
      >
    </li>
    <li class="mb-4">
      <a
        href="#"
        class="text-white px-4 py-1 rounded-md hover:shadow-md hover:bg-blue-950 hover:text-orange-300"
        >Perfil</a
      >
    </li>
    <li class="mb-4">
      <a
        href="#"
        class="text-white px-4 py-1 rounded-md hover:shadow-md hover:bg-blue-950 hover:text-orange-300"
        >Cursos</a
      >
    </li>
    <li class="mb-4">
      <a
        href="/crearCursos"
        class="text-white px-4 py-1 rounded-md hover:shadow-md hover:bg-blue-950 hover:text-orange-300"
        >Nuevo Curso</a
      >
    </li>
    <li class="mb-4">
      <a
        href="#"
        class="text-white px-4 py-1 rounded-md hover:shadow-md hover:bg-blue-950 hover:text-orange-300"
        >Cuestionarios</a
      >
    </li>
    <li class="mb-4">
      <a
        href="#"
        class="text-white px-4 py-1 rounded-md hover:shadow-md hover:bg-blue-950 hover:text-orange-300"
        >Nuevo Cuestionario</a
      >
    </li>
  </ul>
</div>
